.tabs {
  width: 100%;
  .tabs-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d6d8db;
    display: flex;
    align-items: center;
    .header-tab {
      cursor: pointer;
      line-height: 40px;
      height: 100%;
      padding: 0 8px;
      color: @main-text-color;
      background-color: @tab-bg-color;
      transition: all 0.3s;
    }
    .tab-active {
      background-color: @tab-active-bg-color;
      transition: all 0.3s;
      color: @main-text-color;
      border-bottom: 3px solid #6595d8;
    }
  }
  .tabs-content-wrap {
    margin: 16px;
    .tabs-content {
      width: 100%;
      max-height: calc(100% - 72px);
      overflow: auto;
      background-color: @background-color;
      padding: 16px;
      color: @main-text-color;
    }
  }
  .tab-hidden {
    display: none;
  }
}
