.tablayout {
  width: 100%;
  :global {
    .ant-tabs-tab {
      border: none !important;
      border-radius: 0 !important;
    }
    .ant-tabs-nav {
      margin-bottom: 0;
    }
    .ant-tabs-content-holder {
      margin: 16px;
      .ant-tabs-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: @background-color;
        padding: 16px;
        color: @main-text-color;
      }
    }
  }
}

.hidenTab {
  :global {
    .ant-tabs-nav {
      display: none;
    }
  }
}
