//这里进行主题颜色的配置和抛出，vite会在各个less文件中引入该文件

[data-theme='light'] {
  --bg-color: #f5f5f5;
  --main-text-color: #000;
}

[data-theme='dark'] {
  --bg-color: #282c34;
  --main-text-color: #abb2bf;
}

@background-color: var(--bg-color);
@main-text-color: var(--main-text-color);
